<!DOCTYPE html>
<html>
<head>
	<title>CookHome</title>
	<meta charset='utf-8'>
</head>
<body>
<h1>Editar grupo</h1>
	<form method='post' th:action="'/group/edit/'+${group.id}" id='form'>
		<label for='rename'>Escreva o novo nome:</label>
		<input type="hidden" name="_method" value='put'>
		<input type='text' id='edit' name='name' th:value='${group.name}'/>
		<input type='submit' value='Concluir'/>
		<form method='post'>
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value='Apagar'/>
		</form>
	</form>
	<input type='button' value='Cancelar' onclick='history.go(-1)'/>
</body>
</html>