<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>CookHome</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="css/estilo.css">
	</head>
		<body>
			<div class="linha lin1" id="wrap">
				<div class="linha" id="wrapcabecalho">
					<header id="cabecalho">
						<div class="coluna col8">
							<h1 id="logo">CookHome</h1>
							<div th:text="${session.username} != null ? 'Ola  ' +${session.username} :'Nao Logado'"></div>
						</div>
						<div class="coluna col4">	
							<ul class="inline">
								<li><a href="user/login" class="login">Entrar</a></li>
								<li><a href="/user/registration" class="register">Cadastre-se</a></li>
							</ul>
						</div>	
						<div class="linha">	
							<div class="coluna col12">
								<nav>
									<ul class="botao inline">
										<li><strong><a href="/group" class="menu">+Grupos</a></strong></li>
										<li><strong><a href="/recipe" class="menu">+Receitas</a></strong></li>
										<li><strong><a href="/storage" class="menu">+Dispensa</a></strong></li>
									</ul>
								</nav>
							</div>	
						</div>		
					</header>
				</div>
				<div id="description" class="linha lin1">
					<div class="linha lin2">
						<div class="coluna col3">
							<h3>Sugestão do dia</h3>
						</div>
					</div>
					<div class="linha lin2">
						<div class="coluna col6">
							<nav>
								<h1>Biscoito de Banana com Aveita</h1>
								<h5>X ingredientes na dispensa</h5>
								<div class="flip-card">
									<div class="flip-card-inner">
										<div class="flip-card-front">
											<img src="../img/biscoito_banana_aveia.jpg">
										</div>
										<div class="flip-card-back">
										</div>
									</div>
								</div>
							</nav>
						</div>
						<div class="coluna col6">
							<nav>
								<h1>Panqueca de Banana</h1>
								<h5>X ingredientes na dispensa</h5>
								<img src="../img/panqueca_banana.jpg">
							</nav>
							<table>
								<th:block th:each="recipe : ${recipes}">
									<tr>
										<td th:text="${recipe.name}">...</td>
									</tr>
							</th:block>
							</table>
						</div>
						<!--<div class="coluna col4">
							<nav>
								<h1>Massa de Pizza</h1>
								<h5>X ingredientes na dispensa</h5>
								<img src="../img/massa_pizza.jpg">-->
							</nav>
						</div>
					</div>
				</div>
			</div>
		</body>
		<div class="linha lin1" id="footer_wrap">
			<div class="coluna col12 lin2">
				<footer>Todos direitos reservados pela devcookhome &copy;2020</footer>
			</div>
		</div>
</html>