<!DOCTYPE html>
<html>

	<head>
		<title>CookHome</title>
		<meta charset='utf-8'>
	</head>
	<body><h1>Criar novo grupo</h1>
		<p id='error'>
			<form action='/group' method='post'>
				<label for='name'>Digite o nome do novo grupo:</label>
				<input type='text' name='name'>
				<input type='submit' name='create' value='Criar' ></p>
				<input type='button' value='Cancelar' onClick='history.go(-1)'>
			</form>
		<span id='errormensage' style='color: #F00'></span>
	</body>
	<script type='text/javascript'>
		var url = location.href.indexOf('error=true')>-1;
		if (url) {
			document.getElementById('errormensage').innerHTML = 'Erro ao salvar'
		}
	</script>
</html>