
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>CookHome</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="css/estilo.css">
	</head>
		<body>
			<div class="linha lin1" id="wrap">
				<div class="linha" id="wrapcabecalho">
					<header id="cabecalho">
						<div class="coluna col10">
							<h1 id="logo">CookHome</h1>
							<div th:text="${session.username} != null ? 'Ola  ' +${session.username} :'Nao Logado'"></div>
						</div>
						<div class="coluna col2">	
							<ul class="inline">
								<li><a href="user/login" class="login">Logout</a></li>
							</ul>
						</div>	
						<div class="linha">	
							<div class="coluna col12">
								<nav>
									<ul class="botao inline">
										<li><strong><a href="/group" class="menu">+Grupos</a></strong></li>
										<li><strong><a href="/recipe" class="menu">+Receitas</a></strong></li>
										<li><strong><a href="/storage" class="menu">+Dispensa</a></strong></li>
									</ul>
								</nav>
							</div>	
						</div>		
					</header>
				</div>
				<div id="description" class="linha lin1">
					<div class="coluna col12 lin2">
						<nav>
							<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
						</nav>
					</div>
				</div>
			</div>
		</body>
		<div class="linha lin1" id="footer_wrap">
			<div class="coluna col12 lin2">
				<footer>Todos direitos reservados pela devcookhome &copy;2020</footer>
			</div>
		</div>
</html>