<html>
	<head>
		<title>CookHome</title>
		<meta charset='utf-8'>
	</head>
<body>
    <h1>Registrar-se</h1>
    <p id='error'>
    	<form action='/user' method="post" name="form">
    		<label>Nome:</label></br>
    		<input type="text" name="name" required="required" placeholder="Digite seu nome"></br>
    		<label>Usuário:</label></br>
    		<input type="text" name="username" required="required" placeholder="Digite seu nome de usuário"></br>
    		<label>Senha:</label></br>
    		<input type="password" name="password" required="required" placeholder="Escolha uma senha"></br>
    		<label>Repita a senha:</label></br>
    		<input type="password" name="repeatpassword" required="required" placeholder="Confirme sua senha"></br>
    		<label>E-mail:</label></br>
    		<input type="email" name="email" required="required" placeholder="Insira seu e-mail"></br></br>
    		<input type="submit" name="registrar" value="Registrar">
    	</form>
    </p>
    <!--<span id='errorsenha' style='color: #F00'></span>-->
</body>
<!--<script type="text/javascript">
	function verificarSenhas(){
		if (document.form.password.value != document.form.repeatpassword.value){
			document.getElementById('errorsenha').innerHTML = 'As senhas não conferem'
	}
		}

</script>-->
</html>