<html>
	<head>
		<title>CookHome</title>
		<meta charset='utf-8'>
	</head>
<body>
    <h1>Registrar-se</h1>
    <p id='error'>
    	<form method="post" name="form">
    		<label for="name">Nome:</label></br>
    		<input type="text" name="name" required placeholder="Digite seu nome"></br>
    		<label for="username">Usuário:</label></br>
    		<input type="text" name="username" required placeholder="Digite seu nome de usuário"></br>
    		<label for="password">Senha:</label></br>
    		<input type="password" name="password" required placeholder="Escolha uma senha" id="password"></br>
    		<label>Repita a senha:</label></br>
    		<input type="password" name="repeatpassword" required placeholder="Confirme sua senha" id="repeatpassword"></br>
    		<label for="email">E-mail:</label></br>
    		<input type="email" name="email" required placeholder="Insira seu e-mail"></br></br>
    		<input type="submit" name="registrar" value="Registrar">
    	</form>
    </p>
    <span id='errormensage' style='color: #F00'></span>
</body>
<script type="text/javascript">
    var url = location.href.indexOf('error=true')>-1;
    if (url) {  
        document.getElementById('errormensage').innerHTML = 'Não foi possível criar o usuário. Tente novamente.'
    }
    var password = document.getElementById('password'), repeatpassword = document.getElementById('repeatpassword');
    function validatePassword(){
        if (password.value != repeatpassword.value){
            repeatpassword.setCustomValidity('As senhas não conferem')
        } else {
            repeatpassword.setCustomValidity('')
        }
    }

    password.onchange = validatePassword;
    repeatpassword.onkeyup = validatePassword;
</script>
</html>